body {
    background-color: rgba(0, 0, 0, 0.712);
}
button {
    width: 100px;
    height: 20px;
    background-color: transparent;
    border: 1px solid rgb(206, 58, 58);
    border-radius: 30px;
    color: rgb(206, 58, 58);
}

button:hover {
    opacity: 0.5;
}

h1 {
    color: cornsilk;
}
